body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

header { 
    background-color: #ff9601;
    width: 100%;
    padding: 1% 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header__block_lang {
    width: 25%;
    display: flex;
    justify-content: center;
}

.header__block_lang > a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.lang__icon {
    width: 40px;
    height: 25px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.lang__icon:hover {
    transform: scale(1.3);
    transition: 0.8s;
}

.kg_flag {
    margin: 0 5px;
    padding: 0 5px;
    border-left: 3px solid white;
    border-right: 3px solid white;
}

.header__block_logo {
    width: 20%;
    display: flex;
    justify-content: flex-start;
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 3em;
}

.header__block_logo > p {
    margin: 0;
    /* for goods cardx */
    /* box-shadow: 0 0 25px #BEBEBE; */
    border-radius: 10px;
}

.header__block_search {
    width: 33%;
    display: flex;
    justify-content: center;
}

.search__btn {
    margin-left: 5px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.8s;
}

.search__btn:hover {
    box-shadow: 0 0 25px white;
    transition: 0.8s;
}

.search__input {
    width: 100%;
    height: 2.5em;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
}

.search__input::placeholder { 
    color: white;
    text-align: center;
    font-size: 15px;
    transition: 0.8s;
}

.search__input:focus {
    color: white;
    transition: 0.8s;
    outline: none;
    box-shadow: 0 0 25px white;
}

.header__list_nav {
    padding: 0;
    width: 15%;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    display: flex;
}

.nav__item {
    cursor: pointer;
    padding: 2%;
}

.nav__item_img {
    width: 30px;
    height: 30px;
    transition: 0.8s;
}

.nav__item_img:hover {
    transform: scale(1.3);
    transition: 0.8s;
}